<div class="card rounded-0" style="width: 14rem;">
    <img src="{{product.images[1]}}" class="card-img-top rounded-0" alt="{{product.title}}">
    <div class="card-body">
        <p class="card-text">${{product.price}}</p>
        <h6 class="card-title">{{product.title}}</h6>
        <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-danger">Eliminar</button>
            <button type="button" class="btn btn-warning">Editar</button>
        </div>
    </div>
</div>