<div class="card rounded-0" style="width: 14rem;">
    <img src="{{product.image}}" class="card-img-top rounded-0" alt="{{product.title}}">
    <div class="card-body">
        <p class="card-text">${{product.price}}</p>
        <h6 class="card-title">{{product.title}}</h6>
        <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-danger" (click)="deleteProduct(product.id)">Eliminar</button>
            <button type="button" class="btn btn-warning" data-bs-toggle="modal" [attr.data-bs-target]="'#exampleModal' + product!.id">Editar</button>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal{{product.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-column align-items-center">
                    <div class="d-flex m-2 flex-column w-100">
                        <label for="editName">Nombre: </label>
                        <input id="editName" type="text" [formControl]="editName">
                    </div>

                    <div class="d-flex m-2 flex-column w-100">
                        <label for="editPrice">Precio: </label>
                        <input id="editPrice" type="number" [formControl]="editPrice">
                    </div>

                    <div class="d-flex m-2 flex-column w-100">
                        <label for="editImages">Imagen: </label>
                        <input id="editImages" type="text" [formControl]="editImages">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="editProduct(product.id)">Guardar</button>
            </div>
        </div>
    </div>
</div>